In [3]:
import theano.tensor as T 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from keras.models import Sequential 
from keras.layers import Dense

WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
C:\Users\User\Anaconda3\lib\site-packages\theano\configdefaults.py:560: UserWarning: DeprecationWarning: there is no c++ compiler.This is deprecated and with Theano 0.11 a c++ compiler will be mandatory
  warnings.warn("DeprecationWarning: there is no c++ compiler."
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.
Using TensorFlow backend.

In [18]:
dataset=pd.read_csv("Churn_Modelling.csv")

In [19]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [64]:
#features = titanic2[['pclass', 'sex', 'age', 'fare', 'embarked']]
x = dataset[['CreditScore', 'Age', 'Tenure','Balance',"NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary"]]
y = dataset[['Exited']]

In [65]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10
5,645,44,8,113755.78,2,1,0,149756.71
6,822,50,7,0.00,2,1,1,10062.80
7,376,29,4,115046.74,4,1,0,119346.88
8,501,44,4,142051.07,2,0,1,74940.50
9,684,27,2,134603.88,1,1,1,71725.73
10,528,31,6,102016.72,2,0,0,80181.12
11,497,24,3,0.00,2,1,0,76390.01
12,476,34,10,0.00,2,1,0,26260.98
13,549,25,5,0.00,2,0,0,190857.79
14,635,35,7,0.00,2,1,1,65951.65
15,616,45,3,143129.41,2,0,1,64327.26
16,653,58,1,132602.88,1,1,0,5097.67
17,549,24,9,0.00,2,1,1,14406.41
18,587,45,6,0.00,1,0,0,158684.81
19,726,24,6,0.00,2,1,1,54724.03
20,732,41,8,0.00,2,1,1,170886.17
21,636,32,8,0.00,2,1,0,138555.46
22,510,38,4,0.00,1,1,0,118913.53
23,669,46,3,0.00,2,0,1,8487.75
24,846,38,5,0.00,1,1,1,187616.16
25,577,25,3,0.00,2,0,1,124508.29
26,756,36,2,136815.64,1,1,1,170041.95
27,571,44,9,0.00,2,0,0,38433.35
28,574,43,3,141349.43,1,1,1,100187.43
29,411,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...
9970,518,42,7,151027.05,2,1,0,119377.36
9971,833,34,3,144751.81,1,0,0,166472.81
9972,758,26,4,155739.76,1,1,0,171552.02
9973,611,27,7,0.00,2,1,1,157474.10
9974,583,33,7,122531.86,1,1,0,13549.24
9975,610,50,1,113957.01,2,1,0,196526.55
9976,637,33,7,103377.81,1,1,0,84419.78
9977,683,32,9,0.00,2,1,1,24991.92
9978,774,40,9,93017.47,2,1,0,191608.97
9979,677,58,1,90022.85,1,0,1,2988.28
9980,741,35,6,74371.49,1,0,0,99595.67
9981,498,42,3,152039.70,1,1,1,53445.17
9982,655,46,7,137145.12,1,1,0,115146.40
9983,613,40,4,0.00,1,0,0,151325.24
9984,602,35,7,90602.42,2,1,1,51695.41
9985,659,36,6,123841.49,2,1,0,96833.00
9986,673,47,1,183579.54,2,0,1,34047.54
9987,606,30,8,180307.73,2,1,1,1914.41
9988,775,30,4,0.00,2,1,0,49337.84
9989,841,28,4,0.00,2,1,1,179436.60
9990,714,33,3,35016.60,1,1,0,53667.08
9991,597,53,4,88381.21,1,1,0,69384.71
9992,726,36,2,0.00,1,1,0,195192.40
9993,644,28,7,155060.41,1,1,0,29179.52
9994,800,29,2,0.00,2,0,0,167773.55
9995,771,39,5,0.00,2,1,0,96270.64
9996,516,35,10,57369.61,1,1,1,101699.77
9997,709,36,7,0.00,1,0,1,42085.58
9998,772,42,3,75075.31,2,1,0,92888.52
9999,792,28,4,130142.79,1,1,0,38190.78

In [66]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_transformer

In [73]:
preprocess = make_column_transformer(
    (['CreditScore', 'Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary'], StandardScaler()),
    
)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\compose\_column_transformer.py:732: DeprecationWarning: `make_column_transformer` now expects (transformer, columns) as input tuples instead of (columns, transformer). This has been introduced in v0.20.1. `make_column_transformer` will stop accepting the deprecated (columns, transformer) order in v0.22.
  warnings.warn(message, DeprecationWarning)

In [74]:
import pandas as pd

In [75]:
preprocess.fit_transform(x)[:10]

C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

array([[-0.32622142,  0.29351742, -1.04175968, -1.22584767, -0.91158349,
         0.64609167,  0.97024255,  0.02188649],
       [-0.44003595,  0.19816383, -1.38753759,  0.11735002, -0.91158349,
        -1.54776799,  0.97024255,  0.21653375],
       [-1.53679418,  0.29351742,  1.03290776,  1.33305335,  2.52705662,
         0.64609167, -1.03067011,  0.2406869 ],
       [ 0.50152063,  0.00745665, -1.38753759, -1.22584767,  0.80773656,
        -1.54776799, -1.03067011, -0.10891792],
       [ 2.06388377,  0.38887101, -1.04175968,  0.7857279 , -0.91158349,
         0.64609167,  0.97024255, -0.36527578],
       [-0.05720525,  0.4842246 ,  1.03290776,  0.59732859,  0.80773656,
         0.64609167, -1.03067011,  0.86365029],
       [ 1.77417405,  1.05634615,  0.68712986, -1.22584767,  0.80773656,
         0.64609167,  0.97024255, -1.56548722],
       [-2.84048792, -0.94607926, -0.35020386,  0.61801895,  4.24637668,
         0.64609167, -1.03067011,  0.33485373],
       [-1.54714096,  0.4842246 , -0.35020386,  1.05082029,  0.80773656,
        -1.54776799,  0.97024255, -0.43732885],
       [ 0.346319  , -1.13678644, -1.04175968,  0.93146336, -0.91158349,
         0.64609167,  0.97024255, -0.49323048]])

In [76]:
from sklearn.model_selection import train_test_split 
x_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [77]:
import keras

In [78]:
from keras.models import Sequential 
from keras.layers import Dense

In [82]:
classifier = Sequential()
classifier.add(Dense(6, input_dim=8, activation = "relu"))
classifier.add(Dense(6, activation = "relu"))
classifier.add(Dense(1, activation = "sigmoid"))

In [83]:
classifier.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

In [84]:
classifier.fit(x_train, y_train, batch_size = 10, nb_epoch = 100)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
8000/8000 [==============================] - 13s 2ms/step - loss: 3.2881 - acc: 0.7960: 1s - loss: 3.2762
Epoch 2/100
8000/8000 [==============================] - 7s 881us/step - loss: 3.2881 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 3s - los
Epoch 4/100
8000/8000 [==============================] - 7s 916us/step - loss: 3.2881 - acc: 0.7960
Epoch 5/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 6/100
8000/8000 [==============================] - 7s 936us/step - loss: 3.2881 - acc: 0.7960
Epoch 7/100
8000/8000 [==============================] - 8s 1ms/step - loss: 3.2881 - acc: 0.7960A: 1s
Epoch 8/100
8000/8000 [==============================] - ETA: 0s - loss: 3.2865 - acc: 0.7961- ETA: 6s - loss: 3.6200 - a - ETA: 8s - loss:  - ETA: 6s - loss: 3 - ETA: 5s - loss: 3.4077 - acc: - ETA: 0s - loss: 3.2851 - acc: 0. - 9s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 9/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 7s - loss: 3.2236 - acc: 0.800 -  - ETA: 6s -
Epoch 10/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 4s - loss: 3.2040 - acc:  - ETA: 3s - lo - ETA: 2s - loss: 3.2179 - acc: 0. - ETA: 2s - loss: 3.2100 - acc: 0. -
Epoch 11/100
8000/8000 [==============================] - 10s 1ms/step - loss: 3.2881 - acc: 0.7960: 5s - loss: 3.30 - ETA: 4s - loss: 3.2812 - a - ETA: 4s - loss: 3.2986 - acc - ETA: 3s - loss: 3.2
Epoch 12/100
8000/8000 [==============================] - 8s 1ms/step - loss: 3.2881 - acc: 0.7960A: 0s - loss: 3.2937 -
Epoch 13/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 2s - loss: 3.1710  - ETA
Epoch 14/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 1s - los
Epoch 15/100
8000/8000 [==============================] - 8s 1ms/step - loss: 3.2881 - acc: 0.7960A: 1s
Epoch 16/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 1s - loss: 3.2770 - ETA: 0s - loss: 3.2859 - acc: 0
Epoch 17/100
8000/8000 [==============================] - 8s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 18/100
8000/8000 [==============================] - 8s 972us/step - loss: 3.2881 - acc: 0.7960 1s - loss: 3.3028 - acc: 0.79 - ETA: 1s - loss: 3.2868 - - ETA: 0s - loss: 3.
Epoch 19/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 4s - loss: 3.2920 - acc: 0. - ET
Epoch 20/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 1s - l
Epoch 21/100
8000/8000 [==============================] - 8s 996us/step - loss: 3.2881 - acc: 0.7960
Epoch 22/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 23/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 4s - loss: 3.0 - ETA: 1s
Epoch 24/100
8000/8000 [==============================] - 8s 1ms/step - loss: 3.2881 - acc: 0.7960A: 7s - loss: 3.4539
Epoch 25/100
8000/8000 [==============================] - 8s 1ms/step - loss: 3.2881 - acc: 0.7960 - ETA: 1s - los - ETA: 0s - loss: 3.2992 - acc
Epoch 26/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 4s - ETA: 0s - loss: 3.3085
Epoch 27/100
8000/8000 [==============================] - 8s 945us/step - loss: 3.2881 - acc: 0.7960 1
Epoch 28/100
8000/8000 [==============================] - 8s 943us/step - loss: 3.2881 - acc: 0.7960 4s - loss: 3.4701 - acc: 0.7 - E - ETA: 2s -  - ETA: 0s - loss: 3.2826 -
Epoch 29/100
8000/8000 [==============================] - 8s 982us/step - loss: 3.2881 - acc: 0.7960 4s - loss: 3
Epoch 30/100
8000/8000 [==============================] - 8s 1ms/step - loss: 3.2881 - acc: 0.7960A: 3s - loss: 3.2198 - acc - ETA - ETA: 1
Epoch 31/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 32/100
  70/8000 [..............................] - ETA: 29s - loss: 3.2236 - acc: 0.8000

C:\Users\User\Anaconda3\lib\site-packages\keras\callbacks.py:122: UserWarning: Method on_batch_end() is slow compared to the batch update (0.163005). Check your callbacks.
  % delta_t_median)

8000/8000 [==============================] - 7s 896us/step - loss: 3.2881 - acc: 0.7960 7 - ETA: 4s -
Epoch 33/100
8000/8000 [==============================] - 6s 801us/step - loss: 3.2881 - acc: 0.7960
Epoch 34/100
8000/8000 [==============================] - 7s 833us/step - loss: 3.2881 - acc: 0.7960 1s - l
Epoch 35/100
8000/8000 [==============================] - 6s 714us/step - loss: 3.2881 - acc: 0.7960
Epoch 36/100
8000/8000 [==============================] - 7s 873us/step - loss: 3.2881 - acc: 0.7960
Epoch 37/100
8000/8000 [==============================] - 6s 765us/step - loss: 3.2881 - acc: 0.7960
Epoch 38/100
8000/8000 [==============================] - 7s 845us/step - loss: 3.2881 - acc: 0.7960
Epoch 39/100
8000/8000 [==============================] - 7s 816us/step - loss: 3.2881 - acc: 0.7960
Epoch 40/100
8000/8000 [==============================] - 6s 704us/step - loss: 3.2881 - acc: 0.7960
Epoch 41/100
8000/8000 [==============================] - 7s 901us/step - loss: 3.2881 - acc: 0.7960 0s - loss: 3.2547
Epoch 42/100
8000/8000 [==============================] - 6s 773us/step - loss: 3.2881 - acc: 0.7960
Epoch 43/100
8000/8000 [==============================] - 7s 838us/step - loss: 3.2881 - acc: 0.7960
Epoch 44/100
8000/8000 [==============================] - 7s 836us/step - loss: 3.2881 - acc: 0.7960
Epoch 45/100
8000/8000 [==============================] - 6s 742us/step - loss: 3.2881 - acc: 0.7960 0s - loss: 3.2767 - acc: 0.79
Epoch 46/100
8000/8000 [==============================] - 8s 984us/step - loss: 3.2881 - acc: 0.7960
Epoch 47/100
8000/8000 [==============================] - 8s 957us/step - loss: 3.2881 - acc: 0.7960 0s - loss: 3.2883
Epoch 48/100
8000/8000 [==============================] - 10s 1ms/step - loss: 3.2881 - acc: 0.7960A: 7s - loss: 4.0295 - acc: 0.75 - ETA: 7s - loss: 3.3107 - acc: - ETA - ETA: 5s - loss: 3.5121 - a - ETA: 5s - loss: 3. - ETA: 4s - loss: 3.3 - ETA: 3s  - ETA: 2s - loss: 3 - ETA: 1s - loss: 3.2896 -  - ETA: 0s - loss: 3.3162 - acc
Epoch 49/100
8000/8000 [==============================] - 10s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 50/100
8000/8000 [==============================] - 11s 1ms/step - loss: 3.2881 - acc: 0.7960: 9s - l - ETA:
Epoch 51/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 52/100
8000/8000 [==============================] - 5s 636us/step - loss: 3.2881 - acc: 0.7960
Epoch 53/100
8000/8000 [==============================] - 5s 659us/step - loss: 3.2881 - acc: 0.7960
Epoch 54/100
8000/8000 [==============================] - 6s 799us/step - loss: 3.2881 - acc: 0.7960
Epoch 55/100
8000/8000 [==============================] - 11s 1ms/step - loss: 3.2881 - acc: 0.7960:
Epoch 56/100
8000/8000 [==============================] - 10s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 57/100
8000/8000 [==============================] - 11s 1ms/step - loss: 3.2881 - acc: 0.7960: 8s - loss: 3.4251 - acc
Epoch 58/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 5s - loss: 3.1739
Epoch 59/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960 ETA: 7s - loss: 3.5818 - acc: 0 - ETA: 7s - lo
Epoch 60/100
8000/8000 [==============================] - 7s 937us/step - loss: 3.2881 - acc: 0.7960
Epoch 61/100
8000/8000 [==============================] - 7s 924us/step - loss: 3.2881 - acc: 0.7960
Epoch 80/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 9s - loss: 3.3 - ETA: 2s - loss: 3.3500 - acc:  - ETA: 1s - l
Epoch 81/100
8000/8000 [==============================] - 7s 836us/step - loss: 3.2881 - acc: 0.7960
Epoch 82/100
8000/8000 [==============================] - 7s 845us/step - loss: 3.2881 - acc: 0.7960 7s -  - ETA: 5s - loss: 3.4624 -
Epoch 83/100
8000/8000 [==============================] - 7s 866us/step - loss: 3.2881 - acc: 0.7960
Epoch 84/100
8000/8000 [==============================] - 7s 859us/step - loss: 3.2881 - acc: 0.7960
Epoch 85/100
8000/8000 [==============================] - 6s 779us/step - loss: 3.2881 - acc: 0.7960
Epoch 86/100
8000/8000 [==============================] - 7s 876us/step - loss: 3.2881 - acc: 0.7960
Epoch 87/100
8000/8000 [==============================] - 7s 870us/step - loss: 3.2881 - acc: 0.7960 0s - loss: 3.2964
Epoch 88/100
8000/8000 [==============================] - 7s 861us/step - loss: 3.2881 - acc: 0.7960
Epoch 89/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 5s - los - ETA: 5s - loss: 3.2 - ETA: 1s - lo
Epoch 90/100
8000/8000 [==============================] - 7s 929us/step - loss: 3.2881 - acc: 0.7960: 0s - loss: 3.2916 - a
Epoch 91/100
8000/8000 [==============================] - 7s 834us/step - loss: 3.2881 - acc: 0.7960A: 3s - loss: 3.2437 - ETA:  - ETA: 0s - loss: 3.2327 -
Epoch 92/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 2s - l
Epoch 93/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 1s - l - ETA: 0s - loss: 3.2800 - acc:
Epoch 94/100
8000/8000 [==============================] - 6s 793us/step - loss: 3.2881 - acc: 0.7960
Epoch 95/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 4s - loss:  - ETA: 2s - loss: 3.3235  - ETA: 1s - loss: 3.3345 - acc: 0.793 - ETA: 1s - loss:
Epoch 96/100
8000/8000 [==============================] - 11s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 97/100
8000/8000 [==============================] - 11s 1ms/step - loss: 3.2881 - acc: 0.7960
Epoch 98/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 2
Epoch 99/100
8000/8000 [==============================] - 8s 1ms/step - loss: 3.2881 - acc: 0.7960A: 4s - los
Epoch 100/100
8000/8000 [==============================] - 9s 1ms/step - loss: 3.2881 - acc: 0.7960A: 5s - loss: 3.3 - ETA: 4s - loss: 3.3549 - acc: 0 - ETA: 3s - loss: 3.3625 - acc:  - ETA: 3s - loss: 3.3406 - acc: 0.7 - ETA: 3s - loss: 3.3361 -  - ETA: 2s - lo - ETA: 0s - loss: 3.2971 - acc

In [98]:
y_pred = classifier.predict(X_test)

In [99]:
y_pred

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)